.littleTime {
  background-color: green;
}
.midTime {
  background-color: orange;
}
.longTime {
  background-color: red;
}
.highPercent {
  background-color: darkblue;
}
.midPercent {
  background-color: blue;
}
.lowPercent {
  background-color: lightb;
  color: black;
}
table {
  text-align: center;
}
td {
  border-radius: 10%;
  border-style: solid;
  background-color: #262626;
  color: white;
  border-color: black;
}
th {
  border-radius: 10%;
  border-style: solid;
  background-color: gray;
  color: white;
  border-color: black;
}
